.jumbotron {
  
    background-image: url('../../images/bodybg.jpg');
    background-attachment: fixed;
    min-height: 400px;
    margin-top: 0px;
    margin-bottom: 8px;
}

.body-Image{
   
    background-image: url('../../images/bodybg.jpg');
   background-attachment:fixed;
   min-height:400px;
    margin-top:0px;
    margin-bottom:8px;
}

.body-ImageB{
   
    background-image: url('../../images/body_New.jpg') ;
    background-repeat :no-repeat ;
     background-size: 100%;
    background-attachment:inherit;
    min-height:700px;
}


.row {
    background-color:transparent;
}


header.carousel {
    height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}